.empleo {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    background-image: url(../IMÁGENES/img1.png);
    background-size: 5rem;
    background-position: 100%;
    background-repeat: no-repeat;
   
    

            &__link {
                @include flex-center;
                padding-top: 1rem;
                padding-bottom: 1rem;
                width: 100%;
                align-items: baseline;
                
                
        
                
            }

            &__h3 {
                text-align:start;
                color: #dfceb0;
                font-size: 1.8rem;
                margin-right: 1rem;
                font-family: 'Bebas Neue', cursive;
                
            }


            &__input {
                border-radius: 5px;
                padding: 1rem;
                margin-bottom: 1rem;
                transition: 1s;
                background-color:#333;
                border-color: #000;
                color: white;
                font-family: 'Roboto', sans-serif; 
                  
                
            }

            &__input:hover {
                background-color:  #d7a765;
                border-color: #000;
                color: black;
            }
        }